<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Initial tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <!--<exclude>-->
                <!--<file>./src/PropertyTrait.php</file>-->
            <!--</exclude>-->
        </whitelist>
    </filter>
</phpunit>